
.contenedor  {
    display: grid;
    grid-template-areas:
    ' A A A A'
    ' B B B B'
    ' C D D D'
    ' E E E E'
}
header {
    grid-area: A;
    background-color: #cc8184;
    color:white;

}
nav {
     grid-area: B;
     background-color: #E9A178;
}

aside {
    grid-area: C;
    background-color: #F6E1C3;
}

main {
    grid-area: D;
    background-color: whitesmoke;
}
footer {
    grid-area: E;
    background-color: #cc8184;
    color: white;

}

.centrado{
    text-align: center;
}
section {

    width: 85%;
    padding-right: 40px;
    padding-left: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    height: 1700px;

}
.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-horizontal a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    margin: 4px;

}
.menu-aside{
    list-style: none;
}
.menu-aside a{
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    margin: 4px;
    background-color: #010707;
    color: white;
    display: block;
}

nav a:hover{ 
   color: #A84448;
}